<mat-toolbar color="primary">
  <span>Simple Autocomplete WebApp</span>
</mat-toolbar>

<mat-card class="card">
  <mat-form-field class="form-size">
    <input placeholder="Pesquise os eventos aqui :)" matInput [matAutocomplete]="auto" [formControl]="autoCompleteControl">
    <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true">
      <mat-option *ngFor="let event of filteredOptions | async" [value]="event._id.name">
        {{ event._id.name }} ({{event.count}} occurrences)
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-card>