<mat-toolbar color="primary">
  <span>Simple Autocomplete WebApp</span>
</mat-toolbar>

<mat-card flex="80">
  <button mat-raised-button color="accent" (click)="callApi()">Click me!</button>
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto" ([ngModel])="myControl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option.event">
        {{ option.event }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-card>